.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--text-color-rgb), 0.6);
  z-index: 2;
}

.modal {
  position: relative;
  border-radius: 30px;
  padding: 64px;
  background-color: var(--btn-text-color);
  max-height: 100vh;
  overflow-y: auto;
}

.iconCross {
  width: 32px;
  height: 32px;
  stroke: var(--text-color);
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
