.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 128px;
  border-bottom: 1px solid rgba(var(--text-color-rgb), 0.1);
}

.navWrap {
  display: flex;
  gap: 130px;
}
