.authBarList {
  display: flex;
  gap: 8px;
}

.userInfoList {
  display: flex;
  align-items: center;
  gap: 28px;
}

.userProfile {
  display: flex;
  gap: 14px;
  align-items: center;
}

.userPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  border-radius: 10px;
}

.iconUser {
  width: 24px;
  height: 24px;
  fill: var(--btn-text-color);
}

.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}
